#include <zephyr/dt-bindings/led/led.h>

/ {
	aliases {
		led-strip = &led_strip;
		modem-uart = &uart1;
		modem-pwr = &modem_pwr_key;
		wakeup-pin = &pin0;
	};

	gpio_keys {
		compatible = "gpio-keys";
		modem_pwr_key: modem_pwr_key {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Modem Power Key";
		};
	};

	buttons {
		compatible = "gpio-keys";
		pin0: pin0 {
			gpios = <&gpio0 3 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "bmi160 INT1";
		};
	};
};

// LED

&i2s_default {
	group1 {
		pinmux = <I2S_O_SD_GPIO8>;
	};
};

i2s_led: &i2s {
	status = "okay";

	dmas = <&dma 3>;
	dma-names = "tx";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-i2s";

		reg = <0>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		reset-delay = <500>;
	};
};

&dma {
	status = "okay";
};

// SIM7070 UART

&pinctrl {
	uart1_modem_default: uart1_modem_default {
		group1 {
			pinmux = <UART1_TX_GPIO13>,
				     <UART1_RX_GPIO14>;
			output-high;
			input-enable;
		};
	};

    my_i2c0_custom: my_i2c0_custom {
        group1 {
            pinmux = <ESP32_PINMUX(5, ESP_I2CEXT0_SDA_IN, ESP_I2CEXT0_SDA_OUT)>,
	             <ESP32_PINMUX(4, ESP_I2CEXT0_SCL_IN, ESP_I2CEXT0_SCL_OUT)>;
        
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };
};

&uart1 {
	status = "okay";
	current-speed = <115200>; // SIM7070 baud rate
	pinctrl-0 = <&uart1_modem_default>;
	pinctrl-names = "default";
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    pinctrl-0 = <&my_i2c0_custom>;
    pinctrl-names = "default";

    my_bmi160: bmi160@69 {
        compatible = "bosch,bmi160";
        reg = <0x69>;
        status = "okay";
        label = "BMI160";
    };
};
